{% extends 'registration/base.html' %}
{% block content %}

      <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}

              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control form-control-lg">
          </div>

          {% endfor %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
          
          <div class="divider d-flex align-items-center my-4">
            <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
          </div>

          <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/"
          role="button">
          Go to Login Page <i class="fa-solid fa-arrow-right-to-bracket"></i> 
        </a>
      </form>

      <!-- /.social-auth-links -->

    </div>
{% endblock content %}